{%extends "mainframe.html"%}
{%block title%}Equpi - Your Profile{%endblock%}
{%block custom%}
<script src="/files/js/equpi.friends.js"></script>
{%endblock%}

{%block content%}
  <div class="container">
    <div class="row-fluid">
      <!-- Navbar Section
      ========================================================== -->
      <div class="span3">
        <aside>
          <nav style="margin-top:0px; border-top:0px;">
            <ul class="nav">
              <li style="border-top:0px; border-right:0px; border-left:0px; border-bottom:0px;">
                  <img class="avatar avatar-big" src="https://s3.amazonaws.com/equpi/{{p.photo}}" width="100%">
              </li>
              <li>
                <a href=""></i>{{p.name}}</a>
              </li>
              <li>
                <i style="color:white;font-size:0.8em;margin:5px 5px 5px 13px;">
                  {{p.bio}}
                </i>
              </li>
              <li>
                <p>
                  <a href="facebook.com/{{p.fbuser}}"><img src="/files/images/facebook.png" class="img-rounded"> {{p.user.username}}'s Facebook</a>
                  <a href="twitter.com/{{p.twuser}}"><img src="/files/images/twitter.png" class="img-rounded"> {{p.user.username}}'s Twitter</a>
                </p>
              </li>
             </ul>
            <ul class="nav">
              <li>
                <a href="/friends/"><i class="icon-user icon-white"></i>Friends</a>
              </li>
              <li>
                <a href=""><i class="icon-random icon-white"></i>View Random Profile</a>
              </li>
            </ul>
          </nav>
        </aside>
      </div>
      <!-- ===================================================== -->
      <!-- Content Section
      ========================================================== -->
      <div class="span9" id="content-wrapper">
        <div id="content">
          <!-- Stats Section
          ====================================================== -->
          <section id="stats">
            <header>
              <h1>Your  Friends</h1>
            </header>
            <div class="row-fluid">
              <div class="span2">
                <div class="kpi">120</div>
                <div><small>friends</small></div>
              </div>
              <div class="span2">
                <div class="kpi">1</div>
                <div><small>invitations</small></div>
              </div>
            </div>
          </section>
          <!-- ================================================= -->
          <!-- Friends Section
          ====================================================== -->
          <section id="friendsMenu">
            <div class="sub-header">
  	         <div class="row" style="text-align:center">
                <div style="width: 100%;height: 30px;">
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span6 equpi-friends-element">
                <div class="equpi-friends-avatarwrapper">
                  <img src="http://placehold.it/200x200" class="equpi-friends-avatarimage"/>
                </div>
                <div class="equpi-friends-detailswrapper">
                  <div class="equpi-friends-details">
                    <strong>Osman Oguz Bayraktar</strong> 
                  </div>
                </div>
              </div>
              <div class="span6 equpi-friends-element">
                <div class="equpi-friends-avatarwrapper">
                  <img src="http://placehold.it/200x200" class="equpi-friends-avatarimage"/>
                </div>
                <div class="equpi-friends-detailswrapper">
                  <div class="equpi-friends-details">
                    <strong>Osman Oguz Bayraktar</strong> 
                  </div>
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span6 equpi-friends-element">
                <div class="equpi-friends-avatarwrapper">
                  <img src="http://placehold.it/200x200" class="equpi-friends-avatarimage"/>
                </div>
                <div class="equpi-friends-detailswrapper">
                  <div class="equpi-friends-details">
                    <strong>Osman Oguz Bayraktar</strong> 
                  </div>
                </div>
              </div>
              <div class="span6 equpi-friends-element">
                <div class="equpi-friends-avatarwrapper">
                  <img src="http://placehold.it/200x200" class="equpi-friends-avatarimage"/>
                </div>
                <div class="equpi-friends-detailswrapper">
                  <div class="equpi-friends-details">
                    <strong>Osman Oguz Bayraktar</strong> 
                  </div>
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span6 equpi-friends-element">
                <div class="equpi-friends-avatarwrapper">
                  <img src="http://placehold.it/200x200" class="equpi-friends-avatarimage"/>
                </div>
                <div class="equpi-friends-detailswrapper">
                  <div class="equpi-friends-details">
                    <strong>Osman Oguz Bayraktar</strong> 
                  </div>
                </div>
              </div>
              <div class="span6 equpi-friends-element">
                <div class="equpi-friends-avatarwrapper">
                  <img src="http://placehold.it/200x200" class="equpi-friends-avatarimage"/>
                </div>
                <div class="equpi-friends-detailswrapper">
                  <div class="equpi-friends-details">
                    <strong>Osman Oguz Bayraktar</strong> 
                  </div>
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span6 equpi-friends-element">
                <div class="equpi-friends-avatarwrapper">
                  <img src="http://placehold.it/200x200" class="equpi-friends-avatarimage"/>
                </div>
                <div class="equpi-friends-detailswrapper">
                  <div class="equpi-friends-details">
                    <strong>Osman Oguz Bayraktar</strong> 
                  </div>
                </div>
              </div>
              <div class="span6 equpi-friends-element">
                <div class="equpi-friends-avatarwrapper">
                  <img src="http://placehold.it/200x200" class="equpi-friends-avatarimage"/>
                </div>
                <div class="equpi-friends-detailswrapper">
                  <div class="equpi-friends-details">
                    <strong>Osman Oguz Bayraktar</strong> 
                  </div>
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span6 equpi-friends-element">
                <div class="equpi-friends-avatarwrapper">
                  <img src="http://placehold.it/200x200" class="equpi-friends-avatarimage"/>
                </div>
                <div class="equpi-friends-detailswrapper">
                  <div class="equpi-friends-details">
                    <strong>Osman Oguz Bayraktar</strong> 
                  </div>
                </div>
              </div>
              <div class="span6 equpi-friends-element">
                <div class="equpi-friends-avatarwrapper">
                  <img src="http://placehold.it/200x200" class="equpi-friends-avatarimage"/>
                </div>
                <div class="equpi-friends-detailswrapper">
                  <div class="equpi-friends-details">
                    <strong>Osman Oguz Bayraktar</strong> 
                  </div>
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span6 equpi-friends-element">
                <div class="equpi-friends-avatarwrapper">
                  <img src="http://placehold.it/200x200" class="equpi-friends-avatarimage"/>
                </div>
                <div class="equpi-friends-detailswrapper">
                  <div class="equpi-friends-details">
                    <strong>Osman Oguz Bayraktar</strong> 
                  </div>
                </div>
              </div>
              <div class="span6 equpi-friends-element">
                <div class="equpi-friends-avatarwrapper">
                  <img src="http://placehold.it/200x200" class="equpi-friends-avatarimage"/>
                </div>
                <div class="equpi-friends-detailswrapper">
                  <div class="equpi-friends-details">
                    <strong>Osman Oguz Bayraktar</strong> 
                  </div>
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span6 equpi-friends-element">
                <div class="equpi-friends-avatarwrapper">
                  <img src="http://placehold.it/200x200" class="equpi-friends-avatarimage"/>
                </div>
                <div class="equpi-friends-detailswrapper">
                  <div class="equpi-friends-details">
                    <strong>Osman Oguz Bayraktar</strong> 
                  </div>
                </div>
              </div>
              <div class="span6 equpi-friends-element">
                <div class="equpi-friends-avatarwrapper">
                  <img src="http://placehold.it/200x200" class="equpi-friends-avatarimage"/>
                </div>
                <div class="equpi-friends-detailswrapper">
                  <div class="equpi-friends-details">
                    <strong>Osman Oguz Bayraktar</strong> 
                  </div>
                </div>
              </div>
            </div>
            
          </section>
          <!-- ================================================= -->
        </div>
      </div>
    </div>
  </div>
{%endblock%}