    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{%block title%}{%endblock%}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        {% load humanize %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link href="/files/inspiritas.css" rel="stylesheet">
        <link href="/files/equpi.css" rel="stylesheet">
        <link rel="shortcut icon" href="/files/images/favicon.ico" />
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/files/bootstrap/js/bootstrap-modal.js"></script>
        <script src="/files/bootstrap/js/bootstrap-tooltip.js"></script>
        <script src="/files/bootstrap/js/bootstrap-popover.js"></script>
        <script src="/files/bootstrap/js/bootstrap-tab.js"></script>


        {%block custom%}
        {%endblock%}

        <style>
          .popover-custom {
            height: 500px;
            font-size:10px;
            overflow:scroll;
          }
                /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
        </style>

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-36609933-1']);
          _gaq.push(['_setDomainName', 'equpi.com']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>

        <script>  

          function resetNotifications() {
            $.ajax('/notification:reset/');
            $('#ntfbadge').fadeOut(500);
          }

          $(function ()  
          { $("#notif").popover({placement:'bottom',html: true,  template: '<div class="popover"><div class="arrow"></div><div class="popover-inner"><div class="popover-content popover-custom"><p></p></div></div></div>'});  
          });  
        </script>  

        <script type="text/javascript">
          var uvOptions = {};
          (function() {
            var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
            uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/hk14u62mpIBPS70wRZSZ9g.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
          })();
        </script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <script src="http://serve.drawium.com/9382086_1645.js"></script>  

    </head>

    <body>
    <!-- Navbar
      ================================================== -->
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/"></a>
          <!--<span class="tagline">Share your style</span>-->
          {%if me %}
          <div class="nav-collapse collapse" id="main-menu">
            <div class="auth pull-right">
              <a href="/me">
                <img class="avatar" src="https://s3.amazonaws.com/equpi/{{me.photo}}" style="height:40px;">
                <span class="name">{{me.name}}</span>
              </a>
              <br/>
                <span class="links">
                    <a href="/settings">Account</a>
                    <a href="/logout">Logout</a>
                </span>
            </div>
          </div>

          <ul class="nav pull-right" style="cursor:pointer;">
            <li class="divider-vertical"></li>
            <li>
            <a onclick="resetNotifications();" id="notif" rel="popover" data-content="{{me.ntfData|safe|escape}}" data-original-title="Showing {{me.ntfCount}} new notifications:"><i class="icon-exclamation-sign icon-white"></i> Notifications 
            {%if me.ntfCount > 0%}
              <span class="badge badge-warning" id="ntfbadge">
               {{me.ntfCount}}
              </span>
            {%endif%}
            </a>
            </li>
            <li class="divider-vertical"></li>
          </ul>

          <form class="navbar-search pull-right">  
            <input type="text" class="search-query" placeholder="search">  
          </form>  

          

          {%else%}
          <div class="nav-collapse collapse" id="main-menu">
            <div class="auth pull-right">
                <h5 class="links">
                    Already have a page?&nbsp;  
                    <a href="/signin/">Log in</a>
                </h5>
            </div>
          </div>
          {%endif%}
        </div>
      </div>
    </div>

    <!--footer ends here-->

    {%block content%}
    {%endblock%}
    </div>

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/files/js/highcharts.js"></script>
        <script src="/files/js/inspiritas.js"></script>
        <script src="/files/bootstrap/js/bootstrap-dropdown.js"></script>
        <script src="/files/bootstrap/js/bootstrap-collapse.js"></script>

        <footer class="footer" style="background-color:#343b3d;">
          <div class="container" style="margin:0 auto;">
              <div class="row">
                  <div class="span2 offset2">
                      <h4 style="color:white">Equpi</h4>
                      <ul>
                          <li><a href="http://equpi.tumblr.com/about-us" style="color:white" target="_blank">About Us</a></li>
                          <li><a href="https://equpi.uservoice.com/forums/188847-general" style="color:white" target="_blank">Support</a></li>
                          <li><a href="mailto:info@equpi.com" style="color:white">Contact</a></li>
                      </ul>
                  </div>
                  <div class="span2 offset1">
                      <h4 style="color:white">Resource</h4>
                      <ul>
                          <li><a href="http://equpi.tumblr.com/terms-of-service" style="color:white" target="_blank">Terms of Service</a></li>
                          <li><a href="http://equpi.tumblr.com/press" style="color:white" target="_blank">Press</a></li>
                      </ul>
                  </div>
                  <div class="span2 offset1">
                      <h4 style="color:white">Connect</h4>
                      <ul>
                          <li><a href="http://equpi.tumblr.com/" title="Blog" style="color:white" target="_blank">Blog</a></li>
                          <li><a href="https://www.facebook.com/pages/Equpi/431564043573821" title="Facebook" style="color:white" target="_blank">Facebook</a></li>
                          <li><a href="http://twitter.com/equpiapp" title="Twitter" style="color:white" target="_blank">Twitter</a></li>
                      </ul>
                  </div>
              </div>
          </div>
        </footer>

      </div>
    </div>
      </body>
    </html>