{%extends "mainframe.html"%}
{%block title%}Equpi - {{p.user.username}}'{%if p.user.username|last != 's'%}s{%endif%} profile{%endblock%}
{%block custom%}
<script src="/files/js/equpi.belongings.js"></script>
{%endblock%}
{%block content%}
<div class="container">
    <div class="row-fluid">
        <div class="span3">
            <aside>

                <nav>
                    <ul class="nav">
                      <li>
                      <a href="/me/"><i class="icon-home icon-white"></i>Profile</a>
                      </li>
                      <li>
                        <a href="/friends/"><i class="icon-user icon-white"></i>Friends</a>
                      </li>
                      <li>
                      <a href="/activities/"><i class="icon-globe icon-white"></i>Notifications</a>
                      </li>
                      <li>
                        <a href="/search/"><i class="icon-search icon-white"></i>Search Profile</a>
                      </li>
                      <li>
                        <a href=""><i class="icon-random icon-white"></i>View Random Profile</a>
                      </li>
                      <li class="selected">
                      <a href=""><i class="icon-play"></i>{%if p.gender == 'm'%}His{%else%}Her{%endif%} Belongings</a>
                      </li>
                    </ul>
                </nav>

                <nav>
                    <ul class="nav">
                      <li>
                      <img class="avatar avatar-big" src="https://s3.amazonaws.com/equpi/{{p.photo}}" width="100%">
                      </li>
                      <li>
                      <a href=""></i>{{p.name}}</a>
                      </li>
                      <li>
                        <i style="color:white;font-size:0.8em;margin:5px 5px 5px 5px;">
                        {{p.bio}}
                        </i>
                      </li>
                      <li>
                        <p>
                         <a href="http://facebook.com/{{p.fbuser}}"><img src="/files/images/facebook.png" class="img-rounded"> {{p.user.username}}'s Facebook</a>
                        <a href="http://twitter.com/{{p.twuser}}"><img src="/files/images/twitter.png" class="img-rounded"> {{p.user.username}}'s Twitter</a>
                        </p>
                      </li>
                    </ul>
                </nav>


            </aside>
        </div>

        <div class="span9" id="content-wrapper">
            <div id="content">

                <!-- Navbar
                ================================================== -->
                <section id="stats">
                  <header>
                    <div class="pull-right">
                        <a class="btn btn-small">Tweet</a>
                        <a class="btn btn-small">Share on Facebook</a>
                    </div>
                    <h1>{%if p.gender == 'm'%}His{%else%}Her{%endif%} Belongings</h1>
                  </header>
                  <div class="row-fluid">
                    <div class="span2">
                      <div class="kpi">{{p.seen_count}}</div>
                        <div><small>total profile view</small></div>
                    </div>
                    <div class="span2">
                      <div class="kpi">{{p.item_count}}</div>
                        <div><small>items shared</small></div>
                    </div>
                    <div class="span2">
                      <div class="kpi">{{p.last_seen}}</div>
                        <div><small>last seen</small></div>
                    </div>
                  </div>
                </section>
              
                <!-- Olaylar
                ================================================== -->
                <section id="tech" style="display:none;">
                  <div class="sub-header">
                    <h2>&ensp;</h2>
                  </div>
                  <div class="row-fluid">
                    <div class="span12">
                      <table class="table">
                        <thead>
                            <td>
                            
                            </td>
                            <td>
                              <a class="btn btn-primary btn-large" id="displayText" href="javascript:toggle();"></a>
                            </td>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="primary">
                              <div class="row-fluid row-fluid-alternate-bg">
                              <div class="media">
                                <a class="pull-left" href="#">
                                  <img class="media-object" src="/files/images/320x320">
                                </a>
                                <div class="media-body">
                                  <h4 class="media-heading">iPhone 5</h4> 
                                    Onur claimed that he has <strong>iPhone 5</strong> on <strong>Nov 8</strong>.</br>
                                    And <strong>7</strong> people love it.
                                    <br/><br/>
                                    <a class="btn btn-small"><i class="icon-heart icon-black"></i> love</a>
                                    <a class="btn btn-small"><i class="icon-shopping-cart icon-black"></i> buy iPhone5</a>
                                </td> 
                                </div>
                              </div>
                            </div>
                            </td>
                            <td></td>
                          </tr>
                            
                        </tbody>
                      </table>
                    </div>
                  </div>
                </section>

                 <section id="belongingsMenu">
                  <div class="sub-header">
                    <h2>&ensp;</h2>
                  </div>
                  <div class="row-fluid equpi-belongings-container" style="padding:0;margin:0;">
                      <div class="span12" style="padding:0;margin:0;">
                        <div >
                          <div class="equpi-belongingsCategory-wrapper">
                            {%for b in p.belongingList%}
                            <div class="equpi-belongingsCategory">
                              <p class="lead" style="text-align: center; margin-bottom:10px; margin-top:10px;">{{b.name}}</p>
                              {% for i in b.boxes.all%}      
                              <div class="equpi-belongingsElement">
                                <div class="equpi-belongingsElement-mainCol">
                                  <img src="{{i.item.meta.image}}" class="equpi-belongingsElement-image"/>
                                  <div class="equpi-belongingsElement-detailsbox">
                                    <div class="pull-right equpi-belongingsElement-lovebox">
                                      <img src="/files/images/icons/heart.png" class="equpi-belongingsElement-love"/>
                                      <p class="equpi-belongingsElement-lovecount">150,000</p>
                                    </div>
                                    <div class="pull-right equpi-belongingsElement-lovebox">
                                      <img src="/files/images/icons/friends.png" class="equpi-belongingsElement-love"/>
                                      <p class="equpi-belongingsElement-lovecount">100</p>
                                    </div>
                                  </div>
                                  <p class="equpi-belongingsElement-label">{{i.item.meta.name}}</p>
                                </div>
                                <div class="equpi-belongingsElement-controlCol">
                                  <button id="upvoteElement" class="btn"><i class="icon-chevron-up"></i></button>
                                  <button id="doiwnvoteElement" class="btn"><i class="icon-chevron-down"></i></button>
                                  <button id="commentElement" class="btn"><i class="icon-comment"></i></button>
                                  <button id="buyElement" class="btn"><i class="icon-shopping-cart"></i></button>
                                </div>
                              </div>
                              {%endfor%}
                              <div class="equpi-belongingsElement">
                                <a id="displayText">
                                   <img href="#myModal" onclick="$('#addFrom').attr('action','/add/{{b.name}}/');" role="button" data-toggle="modal" src="/files/images/icons/arti2.png" class="equpi-belongingsElement-image"><br>
                                  <p style="text-align: center;">Add More</p>
                                </a>
                              </div>
                            </div>    
                          {%endfor%}
                          <div>
                            <br>
                          </div>
                        </div>
                      </div>
                </section>

            </div>
        </div>
    </div>
</div><!-- /container -->

<!-- Modal -->
{%endblock%}
