{%extends "base.html"%}
{%block title%}Melissa on iOwn{%endblock%}
{%block session%}
  <button type="submit" class="btn pull-right">
    <i class="icon-user"></i>
    {{myUser}}
  </button>
{%endblock%}
{%block content%}
<div class="row">
  <div id="info" class="span4">
      <h4>Melissa's Profile:</h4><br>
    <div class="hero-unit">
      <div class="row-fluid">
          <div class="span6">
            <div class="well" style=" width: 100px; height: 100px;">
              <img id="profile_pic" src="/files/img/avatar_82affe28736b_128.png" style=" width: 100px; height: 100px;">
            </div>
          </div>
          <div class="span6">
            <strong>Name:<br></strong>Mellisa Redmond<br>
            <strong>Joined:<br></strong>Tue 16 Oct 2012<br>
            <strong>Visited:<br></strong>26 times<br>
          </div>
          <br>
      </div>
          <strong>Bio:</strong><pre class="bio">
"For all my life I have always needed more." 
- Elizabeth Wurtzel
          
My second blog : <a href="#">The Black Ballerina</a>

I'm a wine &amp; fashion enthusiast...
</pre>
    </div>
  </div>
  <div id="display" class="span8">
        <h4>Melissa's Display:</h4><br>
    <div class="hero-unit">
        <div class="row-fluid">
          <div class="span4">
          </div>
          <div class="span2">
            <img src="/files/img/woman.png" style=" width: 200px; height: 261px;">
          </div>
          <div class="span4">
          </div>
         </div> 
    </div>
  </div>
</div>
{%endblock%}
