  {%extends "mainframe.html"%}
{%block title%}Equpi - {{p.user.username}}'{%if p.user.username|last != 's'%}s{%endif%} profile{%endblock%}
{%block custom%}
<script>
$(function () {
  $('#myTab a:last').tab('show');
})
</script>
{%endblock%}
{%block content%}
<div class="container">
  <div class="row-fluid">
    <div class="span3">
      <aside>
        <nav style="margin-top:0px; border-top:0px;">
          <ul class="nav">
            <li style="border-top:0px; border-right:0px; border-left:0px; border-bottom:0px;">
              <img class="avatar avatar-big" src="https://s3.amazonaws.com/equpi/{{p.photo}}" width="100%">
            </li>
            <li>
              <a href=""></i>{{p.name}}</a>
            </li>
            <li>
              <i style="color:white;font-size:0.8em;margin:5px 5px 5px 5px;">
                {{p.bio}}
              </i>
            </li>
            <li>
              <p>
                 <a href="http://facebook.com/{{p.fbuser}}"><img src="/files/images/facebook.png" class="img-rounded"> {{p.user.username}}'s Facebook</a>
                 <a href="http://twitter.com/{{p.twuser}}"><img src="/files/images/twitter.png" class="img-rounded"> {{p.user.username}}'s Twitter</a>
              </p>
            </li>
          </ul>
          <ul class="nav">
            <li>
              <a href="/friends/"><i class="icon-user icon-white"></i>Friends</a>
            </li>
            <li>
              <a href=""><i class="icon-random icon-white"></i>View Random Profile</a>
            </li>
          </ul>
        </nav>


      </aside>
    </div>

    <div class="span9" id="content-wrapper">
      <div id="content">
          <form method="post" action="/settings/" enctype="multipart/form-data">
            {%csrf_token%}
                <!-- Navbar
                ================================================== -->
                <section id="stats">
                  <header>
                    <div class="pull-right">
                      <input type="submit" class="btn btn-primary" value="Save Changes">
                    </div>
                    <h1>Settings</h1>
                  </header>
                  <div class="row-fluid">

                  </div>
                </section>

                <!-- Settings
                ================================================== -->
               
                <section id="formsection">
                  
                  <div class="row-fluid">
                    <div class="span12">
                      <div class="hero-unit">

                        <div class="control-group">

                          <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#profile" data-toggle="tab" style="color:#333333;">Profile</a></li>
                            <li><a href="#account " data-toggle="tab" style="color:#333333;">Password Change</a></li>
                          </ul>

                          <div class="tab-content">

                            <div class="tab-pane active" id="profile">
                              <div class="row-fluid">
                                <div class="span12">
                                  <div class="row-fluid">
                                    <div class="span6">
                                      <label class="control-label">Profile Picture:</label>
                                      <div class="controls">
                                        <img src="https://s3.amazonaws.com/equpi/{{me.photo}}" style="width:48px;height:48px;" class="img-polaroid">
                                        <input type="file" name="photo">
                                      </div>
                                      <br/>

                                      <label class="control-label">Your bio:</label>
                                      <div class="controls">
                                        <textarea style="resize:none;" name="bio" rows="3">{{me.bio}}</textarea>                                  
                                      </div>
                                    </div>

                                    <div class="span6">
                                      <label class="control-label">Your name:</label>
                                      <div class="controls">
                                        <input name="name" type="text" value="{{me.name}}" id="inputName" placeholder="Enter your name" value="{{p.name}}">
                                      </div>
                                      <label class="control-label" for="inputPassword">Gender:</label>
                                      <div class="controls">
                                        <select name="gender">
                                          <option {%if me.gender == "m"%}selected{%endif%} value="m">Male</option>
                                          <option {%if me.gender == "f"%}selected{%endif%} value="f">Female</option>
                                        </select>
                                      </div>
                                      <label class="control-label" for="inputPassword">Your Facebook URL:</label>
                                      <div class ="input-prepend">
                                        <span class="add-on">facebook.com/</span>
                                        <input class="span6" name="fbuser" type="text" id="inputUsername" style="box-shadow:none;" value="{{me.fbuser}}" placeholder="">
                                      </div>
                                      <label class="control-label" for="inputPassword">Your Twitter username:</label>
                                      <div class ="input-prepend">
                                        <span class="add-on">@</span>
                                        <input class="span8" name="twuser" type="text" id="inputUsername" style="box-shadow:none;" value="{{me.twuser}}" placeholder="">
                                      </div>

                                    </div>

                                  </div>
                                </div>
                              </div>
                            </div>
                            </form>
                            <div class="tab-pane" id="account">
                              <div class="row-fluid">
                                <div class="span12">
                                  <div class="row-fluid">
                                    <div class="span6">
                                      <label class="control-label" for="inputPassword">Enter your password:</label>
                                      <div class="controls">
                                        <input name="pass" type="password" id="inputPassword" placeholder="Password">
                                      </div>
                                      <label class="control-label" for="inputPassword">Enter your new password:</label>
                                      <div class="controls">
                                        <input name="pass" type="password" id="inputPassword" placeholder="Password">
                                      </div>
                                      <label class="control-label" for="inputPassword">Retype your new password:</label>
                                      <div class="controls">
                                        <input name="repass" type="password" id="inputPassword" placeholder="Password Again">
                                      </div>
                                    </div>
                                    <div class="span6"></div>
                                  </div>
                                </div>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

              </div>
            </div>
          </div>
        </div><!-- /container -->

        <!-- Modal -->
        {%endblock%}
