  {%extends "mainframe.html"%}
{%block title%}Equpi - Registration{%endblock%}
{%block content%}
<div class="container">
  <div class="hero-unit">
    <h2>Registration</h2> 
    <p>Sign up to create your personal profile that shows cool belongings you have.</p>
    <hr>
      <form method="POST" action="/signup/">
        {%csrf_token%}
        <label class= "text-warning">{{message}}</label>
        <div class="control-group">
          <label class="control-label" for="inputEmail">Email Address:</label>
          <div class="controls">
            <input name="email" type="text" value="{{email}}" id="inputEmail" placeholder="Email">
          </div>
          <label class="control-label" for="inputPassword">Create a Password:</label>
          <div class="controls">
            <input name="pass" type="password" id="inputPassword" placeholder="Password">
          </div>
          <label class="control-label" for="inputPassword">Retype Your Password:</label>
          <div class="controls">
            <input name="repass" type="password" id="inputPassword" placeholder="Password Again">
          </div>
          <label class="control-label" for="inputPassword">Your Name:</label>
          <div class="controls">
            <input name="name" type="text" value="{{name}}" id="inputName" placeholder="Full Name">
          </div>
          <label class="control-label" for="inputPassword">You are a:</label>
          <div class="controls">
            <select name="gender">
              <option value="m">Male</option>
              <option value="f">Female</option>
            </select>
          </div>
          <label class="control-label" for="inputPassword">Select a Equpi Username</label>
          <div class="controls">
            <div class ="input-prepend">
              <span class="add-on">Equpi.com/</span>
              <input class="span2" name="user" type="text" id="inputUsername" style="box-shadow:none;" value="{{user}}" placeholder="Your-Choice">
            </div>
          </div>
          <div class="controls">
            <button type="submit" class="btn btn-success">Create your Equpi Page</button>
          </div>
        </div>
      </form>
    <h5>By signing up you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</h5>
  </div>
       
 {%endblock%}
