.equpi-belongingsCategory-wrapper {
	background-color: #E6E6E6;
	position: relative;
	width: 100%;
	overflow: viisble;
	margin: 0;
	padding: 0;
}

.equpi-belongingsCategory-label{
	color : black;
	text-align: center;
	
}

.equpi-belongingsCategory {
	color: black;
	border: 0;
	background-color: #E6E6E6;
	overflow:hidden;
	float: left;
	width: 18%;
	margin-left: 2%;
}

.equpi-belongingsElement {
	color: black;
	border-radius: 3px;
	background-color: #CCCCCC;
	box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.25), 0 1px 0px rgba(255, 255, 255, 0.25);
	overflow: hidden;
	margin-bottom: 10px;
	clear: both;
	width: 100%;
	
}

.equpi-belongingsElement-image{
	width: 90%;
	height: auto;
	clear: both;
	margin: 5%;
}

.equpi-belongingsDetails-wrapper {
	width: 80%;
	margin-left: 20%;
	height: auto;
}

.equpi-belongings-container {
	background-color: #E6E6E6;
	margin: 0px;
	height: 80%;
	
}