.equpi-belongingsCategory-wrapper {
	background-color: #E6E6E6;
	position: relative;
	width: 100%;
	overflow: viisble;
	margin: 0;
	padding: 0;
}

.equpi-belongingsCategory-label{
	color : black;
	text-align: center;
	
}

.equpi-belongingsCategory {
	color: black;
	border: 0;
	background-color: #E6E6E6;
	overflow:hidden;
	float: left;
	width: 18%;
	margin-left: 2%;
}

.equpi-belongingsElement {
	color: black;
	border-radius: 3px;
	background-color: #CCCCCC;
	box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.25), 0 1px 0px rgba(255, 255, 255, 0.25);
	overflow: hidden;
	margin-bottom: 10px;
	clear: both;
	width: 100%;
	position: relative;
	
}

.equpi-belongingsElement-image{
	width: 90%;
	height: auto;
	clear: both;
	margin: 5%;
	position: relative;
	top:0px;
	z-index:0;
}


.equpi-belongings-container {
	background-color: #E6E6E6;
	margin: 0px;
	height: 80%;
	
}

.equpi-belonging-hover {
	background-color: #ff0;
}

.equpi-belongingsElement-lovebox {
	width: auto;
  height: 10%;
  margin:0;
	padding:0;
  position: absolute; 
  z-index:10;
  top:7%;
	right:10%;
	background-color: rgba(50,50,50,0.75);
	border-radius: 3px;
}

.equpi-belongingsElement-love {
	width: auto;
	height: 75%;
	margin-top: 3%;
	margin-left: 5px;
	margin-right: 5px;
	padding:0;
	float: left;
}

.equpi-belongingsElement-lovecount {
	margin-left: 20%;
	float: left;
	margin:auto;
	margin-left: 5px;
	margin-right: 5px;
	padding:0;
	color: white;
	vertical-align: middle;
}