.equpi-belongingsCategory-wrapper {
	background-color: #fafafa;
	position: relative;
	width: 100%;
	overflow: viisble;
	margin: auto;
	padding: 0;
}

.equpi-belongingsCategory-label{
	color : black;
	text-align: center;
	
}

.equpi-belongingsCategory {
	color: black;
	border: 0;
	background-color: #fafafa;
	overflow:hidden;
	float: left;
	width: 15%;
	margin-left: 1%;
	margin-right: 0;
}

.equpi-belongingsElement {
	color: black;
	border-radius: 3px;
	background-color: #afeeee;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	margin-right: 2%;
	margin-left: 2%;
	margin-bottom: 10px;
	clear: both;
	width: 96%;
	position: relative;
	
}

.equpi-belongingsElement-image{
	width: 90%;
	height: auto;
	clear: both;
	margin: 5%;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}


.equpi-belongings-container {
	background-color: #fafafa;
	margin: 0px;
	height: 80%;
	
}

.equpi-belonging-hover {
	background-color: #48d1cc;
}

.equpi-belongingsElement-detailsbox {
	width: 100%;
	height: 30px;
	margin:0;
	padding:0;
	right: 0;
	overflow: hidden;
	display: none;
}

.equpi-belongingsElement-lovebox {
	clear: both;
	margin:2px;
}

.equpi-belongingsElement-love {
	width: 8px;
	height: 8px;
	margin: 1px;
	padding:0px;
	vertical-align: middle;
	float: right;
}

.equpi-belongingsElement-lovecount {	
	float: left;
	margin: 0;
	padding:0;
	color: black;
	text-align: right;
	font-size: 8px;
	line-height: 10px;
}

.equpi-belongingsElement-label {
	color : black;
	text-align: center;
}

.equpi-belongingsElement-mainCol {
	width: 100%;
	margin: 0;
	padding: 0;
	float: left;
}

.equpi-belongingsElement-controlCol {
	width: 20%;
	height: 100%;
	margin: 4%;
	margin-left: 0;
	padding: 0;
	float: left;
	display: none;
}

.equpi-belongingsElement-controlButton {
	width: 96%;
	height: auto;
	margin: 4%;
	padding: 0;
	border: 1px solid rgba(0,0,0,0.25);
}

.equpi-friends-wrapper {
	width: 100%;
	height: auto;
	margin: 0;
	overflow: auto;
}

.equpi-friends-element {
	position: relative;
	width: 80%;
	height: auto;
	margin: auto;
	margin-top: 1%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 1%;
	border: 1px solid black;
	overflow: hidden;	
}

.equpi-friends-avatarwrapper {
	width: 20%;
	margin: 0;
	margin-right: 3%;
	height: auto;
	overflow: hidden;
	float: left;
}

.equpi-friends-friendavatar {
	height: auto;
	width: 100%;
	margin: 2%;
	display: block;
	
}

.equpi-friends-details {
	height: auto;
	width: 74%;
	margin: 0;
	overflow: hidden;
}

.equpi-friends-namelabel {
	width: 75%;
	margin: 0;
	display: block;
	overflow: hidden;
	float:left;
}

.equpi-friends-socialwrapper{
	width: 25%;
	margin: 1%;
	overflow: hidden;
}

.equpi-friends-lovebox {
	width: 20%;
	height: auto;
	overflow: hidden;
	clear: both;
}

.equpi-friends-loveicon {
	width: 20%;
	height: auto;
	margin: 2%;
	float: left;
}

.equpi-friends-preview {
	width: 75%;
	margin-top: 5%;
	overflow: hidden;
}

.equpi-friends-previewimage {
	width: 10%;
	height: auto;
	float: left;
	margin: 1%;
	display: none;
}